{{ pkgs, fetchgit, lib, mkPoetryApplication, poetry, python{dependencies_declaration} }}:

let
  project = fetchgit {{
    url = "{github_url}";
    rev = "{package_rev}";
    sha256 = "{package_github_hash}";
  }};

in mkPoetryApplication {{
  projectDir = project;
  pname = "{package_name}";
  version = "{package_version}";
  pyModule = "{package_name}";
  python = python;

  overrides = pkgs.poetry2nix.overrides.withDefaults (self: super: {{
    {dependencies_overrides}
  }});

  nativeBuildInputs = with python.pkgs; [
    {native_build_inputs_with_newlines}
  ];

  propagatedBuildInputs = with python.pkgs; [
    {propagated_build_inputs_with_newlines}
  ];

  buildInputs = with python.pkgs; [
    {build_inputs_with_newlines}
  ];

  pythonImportsCheck = [ "{repo_name}" ];
  meta = with lib; {{
    description = ''
{package_description}
'';
    license = licenses.{package_license};
    homepage = "{github_url}";
    maintainers = with maintainers; [ ];
  }};
}}
